.o_main_navbar {
    border-bottom: none !important;
    background-color: #3264c8 !important;
}

.o_main_navbar > .o_menu_sections > .dropdown-item,
.o_main_navbar > .o_menu_sections > .o-dropdown > .dropdown-toggle {
    background-color: #3264c8 !important;
}

.mk_app_menu.dropdown-menu .o_app > a .mk_app_icon {
    background-color: #ffffff00 !important;
}

.o_main_navbar .o_menu_sections .o_nav_entry,
.o_main_navbar .o_menu_sections .dropdown-toggle {
    background-color: #3264c8 !important;
}

.mk_apps_sidebar_panel .mk_apps_sidebar .mk_apps_sidebar_menu > li.active > a {
    background-color: #2261e0 !important;
}
